html {
	height: 100%;
}

#frontpage {
	// background-color: black;
	// background: url(img/background.jpg);

	#content {
		margin-top: 20px;
	}

	#center {
		position: relative;
		background: rgba(0,0,0,0.5);
		width: 100%;
		max-width: 500px;

		-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.75);
		-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 6px rgba(0,0,0,0.75);
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=130, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=130, Color='#000000');


		color: white;
		text-align: center;

		h1 {
			font-family: 'Oxygen', sans-serif;
			font-weight: 300;
			font-size: 28px;
			padding: 30px 30px 20px 30px;
			
			.highlight {
				color: #f64956;
			}
		}

		p {
			font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
			font-weight: 100;
			font-size: 14px;
			letter-spacing: 1px;
			margin: 0 50px;
			margin-bottom: 10px;
		}
	}

	#login-bar {
		position: relative;
		text-align: center;
		bottom: 0;
		margin-top: 40px;
		padding-bottom: 30px;

		p {
			font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
			font-weight: 100;
			font-size: 11px;

			a {
				color: white;
				text-decoration: underline;
			}
		}
	}


}


