body {
	&#frontpage {
		background-color: black;
		background: url(../img/background.jpg);
	}
}

#frontpage {
	#center {
		background: rgba(0,0,0,0.6);
		height: 400px;
		width: 500px;
		margin: 0 auto;
		margin-top: 100px;
		padding: 50px 100px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;

		color: white;
	}

	#login-bar {
		position: relative;
		text-align: center;
		bottom: 0;
		margin-top: 60px;
	}

	#fb-login {
		img {
			width: 32px;
			height: 32px;
			margin-right: 10px;
			padding-bottom: 3px;
			vertical-align: middle;
		}

		height: 32px;
	}
}


