#header {
	position: fixed;
	top: 0;
	background-color: #353535;
	width: 100%;
	margin-top: 10px;
	color: white;

	.inner {
		display: inline-block;
	}

	#logo {
		margin: 15px 35px;
		float: left;
	}

	#nav {
		margin-right: 20px;
		text-transform: uppercase;
		float: right;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				margin-left: 15px;
				margin-right: 15px;
				display: inline;
				line-height: 50px;
				vertical-align: middle;
			}
		}
	}
}

