#header {
	position: relative;
	background-color: #353535;
	width: 100%;
	margin-top: 10px;
	color: white;
	min-height: 50px;
	margin-bottom: 45px;

	.inner {
		display: inline-block;
	}

	#logo {
		margin-left: 35px;
		line-height: 50px;
		// margin: 15px 35px;
		float: left;

		img {
			height: 35px;
		}
	}

	#nav {
		margin-right: 20px;
		text-transform: uppercase;
		float: right;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				margin-left: 15px;
				margin-right: 15px;
				display: inline;
				line-height: 50px;
				vertical-align: middle;
			}

			a {
				color: white;

				&:hover {
					text-decoration: underline;
				}

				&.active {
					color: #25abe0;
				}
			}
		}
	}
}

