#search {
	text-align: center;

	#loading-indicator {
		margin-top: 80px;
		margin-left: 25px;
	}

	#heading {
		h1 {
			font-family: 'Oxygen', sans-serif;
			color: #25abe0;
			font-size: 34px;
			font-weight: 300;
		}

		p {
			color: #888888;
			font-size: 16px;
		}
	}



	#filters {
		display: none;

		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 10px;
		text-align: left;
		@media (max-width: 767px) { 
			text-align: center;
		}
		// font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;

		.gender {
			height: 45px;
			display: inline-block;
			vertical-align: middle;

			&#female {
				background: url(img/girl.png);
				background-size: 42px 45px;
				width: 21px;
				background-position: 0 0;

				&.active {
					background-position: 21px 0;
				}
			}

			&#male {
				background: url(img/guy.png);
				background-size: 34px 45px;
				width: 17px;
				background-position: 0 0;

				&.active {
					background-position: 17px 0;
				}
			}

		}

		#key {
			color: #888888;
			margin-right: 20px;
		}

		#all {
			color: #888888;
			margin-right: 10px;
			&:hover {
				text-decoration: underline;
			}
			&.active {
				color: #25abe0;
			}
		}

		#heart {
			color: #a9a9a9;
			font-size: 32px;
			vertical-align: middle;

			&.active {
				color: #25abe0;
			}
		}
	}

	#friends {

		.friend {
			margin: 10px;
			margin-bottom: 15px;
			background-color: #eaeaea;

			-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.36);
			-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.36);
			box-shadow: 2px 2px 6px rgba(0,0,0,0.36);
			/* For IE 8 */
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=130, Color='#000000')";
			/* For IE 5.5 - 7 */
			filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=130, Color='#000000');

			width: 220px;
			display: inline-block;

			color: #888888;

			.content {
				margin: 15px;

				p {
					margin-top: 5px;
					line-height: 24px;
				}

				a {
					padding: 2px 40px;
					// background-color: #f64956;
					background-color: #25abe0;
					color: white;
					text-decoration: none;

					font-family: 'Reenie Beanie', cursive;
					font-size: 28px;

					-webkit-border-radius: 20px;
					-moz-border-radius: 20px;
					border-radius: 20px;

					vertical-align: middle;

					.icon-heart {
						background-position: -1000px;
						margin-right: 10px;
						font-size: 18px;
						vertical-align: middle;
					}
				}

				.photo {
					width: 190px;
					height: 190px;
					position: relative;

					img {
						width: 190px;
						height: 190px;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}

			// order of importance
			&.picked {
				a {
					background-color: #f64956;
				}
			}
		}
	}
}